
.opponent-selection{
    margin-top:35px ;
}
.opponent-selection h2{
    margin-bottom: 50px;
}

.fullboard{
    margin-top:35px;
    visibility: hidden;
}
.board{
    border: 1px solid black;
    transition: all .25s ease-in-out;
    height: 100px;
    width:100px;
    line-height: 100px;
    text-align: center;
    font-size: 85px;
    cursor: pointer;
}
.board:hover{
    background: rgb(174, 244, 255);
    color: rgb(108, 108, 108);
}

.row{
    margin: 0 auto;
    width: 300px;

}

#replay{
    margin-top:45px ;
    visibility:hidden;
}

.win{
    background: #48ceff;
    color: rgb(0, 94, 255);
}
